{% extends 'pizza/base.html' %} {% load widget_tweaks %} {% block content %}
<div class="container">
    <h1>Order</h1>
    <h2>{{ note }}</h2>
    {% if created_pizza_pk %}
    <a href="{% url 'edit_order' created_pizza_pk %}">Edit Your Order</a> {% endif %}
    <form action="{% url 'order' %}" method="post" novalidate>
        <!-- user can select some sort of file/document for uploading to the form -->
        {% csrf_token %} {% for field in pizzaform %}
        <div class="form-group">
            {{ field.errors }} {{ field.label_tag }} {% render_field field class="form-control" %}
        </div>
        {% endfor %}
        <br>
        <input type="submit" value="Order Pizza">
    </form>

    <br><br> want more than one Pizza??
    <form action="{% url 'pizzas' %}" method="get">
        {{ multiple_form }}
        <input type="submit" value="Get Pizzas">
    </form>
</div>
{% endblock %}